body {
  margin: 0 100px !important;
  font-family: sans-serif !important;
  overflow-y:scroll !important;
}
.form_button {
	margin:0.2em !important;
}

.form_section {
	border: 1px solid #0B7500 !important;
	border-top: 6px solid #0B7500 !important; 
	margin-top:0.5em !important;
	padding: 1em !important;
	background-color:#eee !important;
	border-radius: 3px !important;
}
.doc_renderer {
	border: 1px solid #0B7500 !important;
	border-top: 6px solid #0B7500 !important; 
	padding: 1.5em !important;
	margin-top:0.5em !important;
	min-height:280px !important;
	border-radius: 3px !important;
}

.box_error {
	border: 1px solid red !important;
	border-top: 6px solid red !important; 
	padding: 1.5em !important;
	margin-top:0.5em !important;
	min-height:280px !important;
	border-radius: 3px !important;
	color:red;
}
    
.sample_section { margin-top:0.5em !important; };

table { border:0px !important; }
